<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Freyr</title>
    <link rel="stylesheet" href="https://notendur.hi.is/~hfg7/freyr2/src/main/resources/templates/homeStyle.css">
</head>
<body>
<h1>Freyr</h1>

<div class="takkar">
    <button class="button">
        <a href="/"><span>Home</span></a>
    </button>
</div>

<h2>Search for recipies</h2>
<form class="form" action="#" th:action="@{/search}"  method="post">
    <input type="text" name="foodType" id="foodType" th:value="${foodType}"/>

    <h3>Choose kind:</h3>
    <div th:each="mealK:${mealKinds}">
        <input type="radio" name="mealKinds" th:value="${mealK}"/>

        <label th:text="${mealK}"></label>
    </div>
    <input class="button" type="submit" value="Search"/>

    <div th:switch="${recipes}">
        <h1>Recipes</h1>
        <h2 th:case="null">No results!</h2>
        <h2 th:case="-1">No recipes found, please try again</h2>
        <div th:case="*">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="recipe : ${recipes}">
                    <td id="title" th:text="${recipe.title}"></td>
                    <td><img th:src="${recipe.image}" width="300px" height="300px"></td>
                    <td>
                        <button class="button" name="index" id ="index" th:value="${recipe.index}"/>Look At Recipe</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>

</body>
</html>