<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <link rel="stylesheet" href="homeStyle.css">
</head>
<body>
<div th:switch="${users}">
    <h1>Users In system</h1>

    <div class="takkar">
        <button class="button">
            <a href="/"><span>Home</span></a>
        </button>
    </div>

    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>username</th>
                <th>password</th>
                <th>email</th>
                <th>favorite</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.password}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.favorite}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>