<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.client">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.Activities.SearchResultsActivity"></activity>
        <activity
            android:name=".ui.Activities.RecipeViewActivity"
            android:label="@string/title_recipe" />
        <activity
            android:name=".ui.Activities.CookBookActivity"
            android:label="@string/title_cookbook" />
        <activity
            android:name=".ui.Activities.CreateRecipeActivity"
            android:label="@string/title_create_recipe" />
        <activity
            android:name=".ui.signup_and_login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.signup_and_login.SignupActivity"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".ui.signup_and_login.SignupOrLoginActivity"
            android:label="@string/title_freyr" />

        <activity
            android:name=".ui.profile.ProfileFragment"
            android:label="@string/title_profile" />

        <activity android:name=".ui.Activities.SearchActivity" />
        <activity android:name=".ui.Activities.IngredientSearchPageOneActivity" />
        <activity android:name=".ui.Activities.IngredientSearchPageTwoActivity" />
        <activity android:name=".ui.Activities.IngredientSearchPageThreeActivity" />
        <activity android:name=".ui.Activities.IngredientSearchFinalPageActivity" />
        <activity android:name=".ui.Activities.IngredientOrTitleSearchActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>